footer{
  background-color: black;
  padding: 8vh 0;
  p{
    color:white;
  }
  a{
    color: #ff4d06;
    text-decoration: none;
  }

  .fotgrid{
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    align-items: baseline;
    .fot2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .text1{
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          color: #ff4d06;
          font-size: 2rem;
          margin-left: 10px;
        }
      }
      .text2 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        a.me-3 {
          border-bottom: 1px solid #ff4d06;
        }
      }
    }
    .fot4{
      .fred{
        width: 20%;
        filter: contrast(0.5);
        padding-right: 20px;
      }
    }
  }

}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
