footer{
  background-color: black;
  padding: 8vh 0;
  p{
    color:white;
  }
  a{
    color: #ff4d06;
  }
  .fred{
    width: 20%
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
