:root{
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Exo;
  color: $black;
}

a,p,div,input,button,textarea{
  font-family: Roboto;
  color: $text-secondary;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  border-radius: 5px;
  padding: 8px 65px;
  color: $white;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
  filter: contrast(0.5);
  color: #ff4d06;
}
section a.demo  {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/images/arrow.svg);
  right: 2%;
  width: 50px;
  height: 100px;
  top: 0;
}

/*----------------------------Banner-------------------------------*/
#banner{
  background-image: url(../../assets/images/banner-header.jpg);
  background-size:cover;
  padding-top: 6vh;
  padding-bottom: 0;
  .content{
    width: 100%;
  }
  .mantle{
    background-color: #eeeeee80;
    padding: 6vh;
    width: fit-content;
    img {
      width: 50%;
      margin-bottom: 40px;
    }
    .text{
      margin-bottom: 80px;
      .display-4, .display-5{
        font-weight: bold;
        line-height: 1;
        margin-bottom: 0;
      }
      .tittleI{
        -webkit-text-stroke: 2px black;
        -webkit-text-fill-color: white;
        -webkit-animation: fill 0.5s infinite alternate;
      }
      .tittleII{
        color: black;
        font-size: 3.8rem;
      }
    }
  }
}
/*----------------------------SECCION 02-------------------------------*/
#section02{
  padding: 14vh 0;
  background-color: lightgrey;
   overflow: scroll;
  .back{
    background-color:white;
    margin: 0 7%;
    padding: 80px 0;
    button#myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: -100px;
      z-index: 99;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 15px;
      background: none;
    }
    img.i-arrow {
      width: 15%;
    }
  }
  .col-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    h1.display-5 {
      font-weight: 800;
    }
    .cspan{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      -webkit-text-stroke: 2px lightgrey;
      -webkit-text-fill-color: white;
      -webkit-animation: fill 0.5s infinite alternate;
      padding-left: 50px;
      h1{
        font-size: 20rem;
      }
    }
  }
  .text-top {
    border-bottom: 1px solid #ff4d06;
    padding-bottom: 30px;
    p{
      font-weight: bold;
    }
  }
  .text-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 40px;
    .text-left {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      span{
        font-weight: 900;
        font-size: 2rem;
      }
    }
    .text-right {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      span{
        font-weight: 900;
        font-size: 2rem;
      }
    }
  }
}
/*----------------------------SECCION 03-------------------------------*/
#section03{
  background-color: lightgrey;
  background-image: url(../../assets/images/PORTFOLIO.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  .swiper-wrapper{
    width: 60%;
    height: 60vh;
    margin-right: 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/*----------------------------SECCION 04-------------------------------*/
#section04{
  background-image: url(../../assets/images/we-are-ready.png);
  background-attachment: fixed;
  .list-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1.display-5{
      font-weight: 800;
      margin-bottom: 40px;
    }
  }
  .list-right {
    border-bottom: 1px solid #ff4d06;
    .list {
      display: grid;
      grid-template-columns: 10% auto;
      margin-bottom: 50px;
      column-gap: 20px;
      .limg {
        text-align: center;
        top: 0;
        bottom: 0;
        margin-bottom: auto;
        margin-top: auto;
      }
      .rimg{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        .ptext {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
      span {
        font-size: 2.5rem;
        color: #ff4d06;
        font-weight: 500;
        padding-right: 10px;
      }
    }
  }
}
/*----------------------------SECCION 05-------------------------------*/
#section05{
  background-image: url(../../assets/images/contact.jpg);
  background-attachment: fixed;
  h1.display-5{
    font-weight: 800;
  }
  form#contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: 50px;
    .form-floating {
      position: relative;
      margin-bottom: 20px;
      label{
        color: #444242;
      }
    }
    .form-control {
      border-bottom: 1px solid #8e8e8e;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: rgb(180 180 180 / 0%);
    }
    .form-control:focus {
      box-shadow: 0 0 0 0.1rem rgb(255 77 6 / 32%);
    }
    .it-form2 {
      display: flex;
      flex-direction: column;
      h4 {
        border-bottom: 1px solid #8e8e8e;
        padding-bottom: 19%;
        padding-top: 6%;
        color: #444242;
      }
      button.btn.btn-primary {
        background-color: #ff4d06;
        border-color: #ff4d06;
        border-radius: 7px;
        padding: 8px 100px;
        color: #fff;
        margin-top: 30px;
      }
    }
  }
}
/*----------------------------Queries-------------------------------*/


@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
/*--------WHAT-WE-DO---------*/
  #what-we-do{
    .col-left {
      padding-bottom: 30px;
      .cspan {
        display: none;
      }
    }
  }
  #how-we-work {
    .list-right{
      .list .rimg {
        flex-direction: column;
        align-items: start;
      }
    }
  }
  #contact {
    form#contactForm {
      display: grid;
      grid-template-columns: auto;
      column-gap: 30px;
      margin-top: 50px;
      .it-form2 {
        h4 {
          padding-bottom: 0;
          border-bottom: none;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  footer .fotgrid {
    display: grid;
      grid-template-columns: auto;
      row-gap: 20px;
      text-align: center;
      .fot2 {
        align-items: center;
      }
    }

}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
